EmployeeManagementsystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Company">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:attribute name="Emp_ID" type="xs:integer"><xs:attribute>
                            <xs:element name="Emp_Name" type="xs:string"></xs:element>
                            <xs:element name="Emp_age" type="xs:integer"></xs:element>
                            <xs:element name="Emp_salary" type="EmpSal"></xs:element>
                            <xs:element name="Emp_emailid" type="xs:string"></xs:element>
                            <xs:element name="Emp_Phonenum" type="xs:decimal"></xs:element>
                            <xs:element name="Emp_designation" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="EmpSal">
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="50000"></xs:minInclusive>
                <xs:maxInclusive value="200000"></xs:maxInclusive>
            </xs:restriction>
    </xs:simpleType>
</xs:schema>